@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroyfont/Gilroy-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroyfont/Gilroy-Medium.ttf") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroyfont/Gilroy-Bold.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
}

body {
  background: #fff;
}

.mr-2 {
	margin-right: 5px;
}

.pt-0 {
  padding-top: 0px !important;
}

/* Header */
.site-header {
  background-color: #e6b028; /* golden yellow */
  height: 70px;
}

.header-container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 40px;
}

/* Navigation */
.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
}

.nav a:hover {
  text-decoration: none;
}

/* Sign In Button */
.sign-in-btn {
  background-color: #7a3e00;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.sign-in-btn:hover {
  background-color: #5f2f00;
}




/* PAGE GRID */
.event-page {
  padding: 30px;
}

.event-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 240px 1fr 240px;
  gap: 40px;
  align-items: start;
  margin-bottom: 70px;
}

/* SHARED SIDE CARD */
.side-card {
  background: #f3e6d8;
  border-radius: 16px;
  padding: 20px;
}

/* LEFT APP CARD */
.app-card h3 {
  margin: 10px 0 20px;
}

.small-text {
  font-size: 14px;
  color: #333;
}

/*.store-btn {
  width: 100%;
  border: none;
  padding: 14px;
  margin-bottom: 12px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}

.apple {
  background: #000;
  color: #fff;
}

.google {
  background: #000;
  color: #fff;
}*/

.app-download-image-appstore {
  text-align: center;
}

.app-download-image-appstore img {
	max-width: 80%;
}

.app-download-image-playstore {
  text-align: center;
}

.app-download-image-playstore img {
	max-width: 80%;
	margin-top: 15px;
}

/* MAIN EVENT CARD */
.main-card {
  background: #f3e6d8;
  border-radius: 18px;
  padding: 18px;
}

.banner-wrap {
  position: relative;
}

.banner-wrap img {
  width: 100%;
  border-radius: 16px;
}

/* Buttons on banner */
.circle-btn {
  position: absolute;
  top: 16px;
  left: 16px;
  background: #fff;
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 20px;
}

.share-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  font-weight: 500;
}

/* Text */
.main-card h2 {
  margin: 18px 0;
  font-size: 24px;

}

/* Date pill */
.pill {
  display: inline-block;
  background: #fff;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 12px;
  margin-bottom: 16px;
}

/* Location */
/*.location {
  background: #fff;
  border-radius: 14px;
  padding: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.location .icon {
  font-size: 20px;
}

.location span {
  font-size: 13px;
  color: #666;
}

.arrow {
  margin-left: auto;
  font-size: 20px;
}*/

.locationl-outer {
	display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 12px;
}

.location-icon-outer-content p{
	font-size: 14px;
	margin-top: 4px;
}

.loctaion-icon-outer-box {
	display: flex;
	align-items: center;
}

.location-icon-outer {
	background: #fff;
	padding: 6px 10px;
	margin-right: 10px;
	border-radius: 5px;
}

.arrow {
	text-align: right;
}

/* RIGHT FREE CARD */
.free-card h4 {
  margin-bottom: 20px;
}

.free-text {
  text-align: center;
  font-size: 26px;
  color: green;
  font-weight: 800;
  margin-bottom: 20px;
}

.free-text span {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.book-btn {
  width: 100%;
  background: #7a3e00;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}




/* Section */
.schedule-section {
  background: #FFF1E3;
  padding: 16px;
  border-radius: 12px;
}

/* Title */
.section-title {
  margin-bottom: 12px;
  /*font-size: 16px;*/
  font-weight: 600;
}

/* Card Wrapper */
.schedule-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Day Item */
.day-item {
  background: #ffffff;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

/* Icon */
.icon {
  color: #b45309;
  font-size: 18px;
  margin-top: 2px;
}

/* Text */
.text h4 {
  display: block;
  color: #b45309;
  margin-bottom: 2px;
}

.text p {
  font-size: 12px;
  color: #333;
  margin-top: 4px;
}




.banner-section-bottom {
  overflow: hidden;
  margin-top: 30px;
}

.banner-slider {
  display: flex;
  gap: 20px;
  cursor: grab;
  user-select: none;
}

.banner-slide {
  min-width: calc(62% - 10px);
}

.banner-slide img {
  width: 100%;
  border-radius: 10px;
  pointer-events: none;
}







.bottom-about-content {
	margin-top: 30px;
}

.bottom-about-content h3 {
	margin-bottom: 5px;
}

.bottom-about-content p{
	font-size: 14px;
	line-height: 25px;
}

.gallery-section-outer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px 0px;
}

.gallery-image img{
   max-width: 100%;
   border-radius: 6px;
}




.footer {
  background: #7a3f00;
  color: #fff;
  padding: 40px 60px 100px;
}

.event-footer-container {
	max-width: 1200px;
	margin: auto;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-col {
  min-width: 100px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: bold;
}

.brand i {
  font-size: 36px;
}

.follow {
  margin: 30px 0 15px;
}

.social {
	display: flex;
}

.social a {
  margin-right: 12px;
  cursor: pointer;
}

.social a img {
	width: 20px;
}

.footer-col h4 {
  margin-bottom: 15px;
  font-size: 16px;
}

.footer-col a {
  display: block;
  color: #f2e7da;
  text-decoration: none;
  margin-bottom: 15px;
  font-size: 14px;
}

.footer-col img {
  width: 140px;
  display: block;
  margin-bottom: 10px;
}

.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.3);
  margin-top: 30px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  flex-wrap: wrap;
}

.designed-and-developed-text {
	display: flex;
	grid-gap: 5px;
	/*align-items: center;*/
}

.designed-and-developed-text img {
	height: 20px;
}



.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f5e5c7;
  padding: 10px 20px;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
  z-index: 1000;
}

.event-fixed-footer-container {
	max-width: 1200px;
  margin: auto;
}

.event-fixed-footer-outer {
	display: flex;
  justify-content: space-between;
}

/* Left */
.footer-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-left img {
  width: 45px;
  height: 45px;
  border-radius: 6px;
  object-fit: cover;
}

.footer-left p {
  font-size: 14px;
  margin: 0;
  line-height: 1.3;
  font-weight: bold;
}

/* Center */
.footer-center {
  text-align: center;
  font-weight: bold;
}

.footer-center .free {
  color: green;
  font-size: 20px;
   animation: blink 1.2s infinite;
}

/* Keyframes */
@keyframes blink {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.footer-center .entry {
  font-size: 12px;
  display: block;
}

/* Right */
.footer-right button {
  background: #6b3a00;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.footer-right button:hover {
  background: #542d00;
}

.fixed-footer-right-side {
	display: flex;
	grid-gap: 20px;
}



/* ==============================
   OPEN MORE INFO SECTION (STATIC)
============================== */

.more-info h3 {
  margin-bottom: 20px;
  margin-top: 10px;
}

/* Card */
.info-open-card {
  background: #fff;
  border-radius: 6px;
  margin-bottom: 18px;
  overflow: hidden;
}

/* Header */
.info-open-header {
  background: #ffd9b3;
  padding: 14px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-open-left {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
}

.info-open-left i {
  font-size: 18px;
  color: #7a3e00;
}

/* Content */
.info-open-content {
  padding: 16px 20px 20px;
  font-size: 14px;
  line-height: 1.7;
  color: #333;
}

.info-open-content p {
  margin-bottom: 12px;
}

.info-open-content h4 {
  margin: 14px 0 6px;
  font-size: 15px;
  font-weight: 600;
  color: #000;
}

.info-open-content ul {
  padding-left: 18px;
  margin-bottom: 10px;
}

.info-open-content ul li {
  margin-bottom: 6px;
}

/* Accordion animation */
.info-open-content {
  display: block; /* open by default */
}

.info-open-header {
  cursor: pointer;
}

.info-open-header i.fa-chevron-up {
  transition: transform 0.3s ease;
}

/* Accordion default state */
.info-open-content {
  display: none;
}

.info-open-header {
  cursor: pointer;
}

.info-open-header i.fa-chevron-up {
  transition: transform 0.3s ease;
  transform: rotate(180deg); /* arrow points down when closed */
  font-size: 14px;
}


.watch-live-btn {
  background: #ff0000;
  color: #ffffff;
  border: none;
  padding: 10px 16px;
    border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  margin-bottom: 20px;
}

.watch-live-btn:hover {
  background: #e60000;
}

.play-icon {
  font-size: 12px;
  line-height: 1;
}

.seven-day-event-heading-outer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

a.click-for-visit-button {
    background: #6b3a00;
    color: #fff;
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}


@media (max-width: 992px){

.event-grid {
  display: inherit;
}

.side-card.app-card {
  display: none !important;
}

.side-card.free-card {
  display: none;
}

}


@media (max-width: 767px){



.nav a {
  font-size: 20px;
}

}

@media (max-width: 700px){

.fixed-footer {
  border-radius: 20px 20px 0px 0px;
  background: #fff;
  padding: 15px 20px 10px;
}

.footer-left {
  display: none;
}

.fixed-footer-right-side {
    width: 100%;
    justify-content: space-between;
  }

}


@media (max-width: 650px){ 

.nav a {
  font-size: 12px;
}

}


@media (max-width: 500px){  

.sign-in-btn {
  font-size: 12px;
   padding: 10px 10px;
}

a.click-for-visit-button {
  font-size: 12px;
  padding: 10px 10px;
}

.watch-live-btn {
  font-size: 12px;
  padding: 10px 10px;
}

.logo img {
    height: 34px;
}

.gallery-section-outer {
  gap: 10px;
  padding: 10px 0px;
}

.more-info h3 {
  margin-bottom: 10px;
}

}


@media (max-width: 480px){ 

.event-page {
  padding: 30px 17px;
}

.main-card h2 {
  font-size: 18px;
}

}

@media (max-width: 460px){ 

h4 {
  font-size: 14px;
}

p {
  font-size: 12px;
}

.location-icon-outer-content p {
  font-size: 12px;
}

.header-container {
  padding: 0px 15px;
}

.event-page {
  padding: 30px 15px;
}

.info-open-left {
  font-size: 12px;
}

 }



 @media (max-width: 440px){ 

.logo img {
  height: 32px;
}

.sign-in-btn {
  font-size: 12px;
  padding: 8px 9px;
}


a.click-for-visit-button {
   font-size: 12px;
  padding: 8px 9px;
  white-space: pre;
}

.watch-live-btn {
  font-size: 12px;
  padding: 8px 9px;
}

}


@media (max-width: 420px){  
    .logo img {
        height: 26px;
    }

  .sign-in-btn {
  font-size: 10px;
  padding: 6px 7px;
}


a.click-for-visit-button {
   font-size: 10px;
  padding: 6px 7px;
  white-space: pre;
}

.watch-live-btn {
  font-size: 10px;
  padding: 6px 7px;
}

}


@media (max-width: 390px){  

.nav a {
        font-size: 10px;
    }

    .header-container {
      padding: 0px 10px;
    }

        .event-page {
        padding: 20px 10px;
    }

}
